<form action="/save" method="post">
  <p>
    Title:<br>
  <input type="text" name="title">
</p>
<p>
  URL:<br>
  <input type="text" name="url">
</p>
<p>
  <input type="submit" value="Add">
</p>
</form>
